node_modules/**/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
dist/
.DS_Store
__tests__/
#.expo/*
#web-build/
#.idea/
#.vscode/
#note.txt
#backup/
#note.md
#test.json
#test.ts
#test-b.json
#test.html
#.env
#.expo-shared/
#yarn-error.log
#.next/
#.vercel/
#src/google/
#src/firebase/migrations/raw-data/
