.idea
.auto-changelog
.auto-changelog-template.hbs
.dependency-cruiser.js
.editorconfig
.gitattributes
.gitignore
.prettierignore

/package-lock.json
/webpack.config.js

/rename_clear_files.sh
/tsconfig.prod.json

/docs/assets
/docs/classes
/docs/enums
/docs/functions
/docs/interfaces
/docs/types
/docs/variables

/coverage/lcov-report
/coverage/clover.xml
/coverage/lcov.info

/notes
/backup
