.editorconfig
.dependency-cruiser.js
.auto-changelog-template.hbs
rename_clear_files.sh
tsconfig.build.json

docs/assets
docs/classes
docs/enums
docs/functions
docs/interfaces
docs/types
docs/variables

coverage/lcov-report
coverage/clover.xml
coverage/lcov.info

notes
backup
src
